<ion-view view-title="Create an account">
  <ion-content ng-controller="AppCtrl">
        <fieldset>
          <form ng-submit="signup()">
            <div class="list">
             <label class="item item-input">
                <span class="input-label">Firstname</span>
                <input type="text" ng-model="credentials.firstname" required>
              </label>
               <label class="item item-input">
                <span class="input-label">Lastname</span>
                <input type="text" ng-model="credentials.lastname" required>
              </label>
              <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="credentials.username" required>
              </label>
              <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" ng-model="credentials.location" required>
              </label>
               <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="credentials.email" required>
              </label>
              <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="credentials.password" required>
              </label>
              <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model="credentials.confirmpassword" required>
              </label>
              <label class="item">
                <input class="button button-block button-positive" type="submit" value="Sign Up">Sign Up
              </label>
            </div>
        </form>
      </fieldset>
  </ion-content>
</ion-view>
