<div data-ng-controller="HomeController" class="user-profile">
    <div class="row row-blocks">
        <div class="row row-blocks" id="btn">
                <div class="col-xs-12">
                <span><h3>Welcome To Notifier007, you register we notify
                    <a ui-sref="signup()" class="small">Click To Register</a></h3>
                    </span>
                </div>
        </div>
        <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                <div id="frame"></div>
            </div>
        </div>
            <div class="col-sm-6">
                <div id="map"></div>
            </div>
            <div class="col-sm-4">
                <p>Weather Status For : <i>{{place_report.timezone}}</i>
                </p>
                <table class="table" ts-wrapper>
                    <thead>
                        <tr><i>Current Weather Condition: {{place_report.currently.icon}}</i>
                            <th ts-criteria="Temperature" ts-default>Expected Temperature</th>
                            <th ts-criteria="Humidity">Expected Humidity Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ts-repeat>
                            <td>{{place_report.currently.temperature}}</td>
                            <td>{{place_report.currently.humidity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table" ts-wrapper>
                    <thead>
                        <tr><i>We expect {{place_report.daily.summary}}</i>
                            <th ts-criteria="Summary" ts-default>Weekly Weather Forecast</th>
                            <th ts-criteria="Day">Day</th>
                            <th ts-criteria="Icon">Weather Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in place_report.daily.data | limitTo:5" ts-repeat>
                            <td>{{t.summary}}</td>
                            <td>{{t.time * 1000 | date : format : timezone:'HH:mm:ss'}}</td>
                            <td>{{t.icon}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row row-blocks" id="btn">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ui-sref="notifierProfile()">Send report to a Friend</button>
                </div>
            </div>

        </div>
    </div>
</div>
