<!-- <section data-ng-controller="SettingsController" class="user-profile ">
  <div class="row row-blocks pull-center">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <p class="profile-heading"> {{user.firstName}} {{user.lastName}} Profile </p>
      <table class="table" ts-wrapper>
        <thead>
          <tr>
            <th ts-criteria="Name" ts-default>Name</th>
            <th>{{user.firstName}} {{user.lastName}}</th>
          </tr>
          <tr>
            <th ts-criteria="E-Mail">email</th>
            <th>{{user.email}}</th>
          </tr>
          <tr>
            <th ts-criteria="User Name">User Name</th>
            <th>{{user.username}}</th>
          </tr>
          <tr>
            <th ts-criteria="location">Location</th>
            <th>{{user.location}}</th>
          </tr>
        </thead>
        <br>
        <tbody>
          <tr>
            <th ts-criteria="Edit User Profile"><a href="/#!/settings/profile">{{user.firstName}} {{user.lastName}} click to edit your profile </a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
</section>
 -->
